---
import "./SystemBox.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<fieldset class="system-box">
  <legend class="system-box-title">── {title} ──</legend>
  <div class="system-box-content">
    <slot />
  </div>
</fieldset>
